html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

  @media screen and (max-width: 768px) {
    scroll-snap-type: none;
  }
}

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: none;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

$color-background: #000;
$color-text: #fff;
$color-contrast-main: #d2a730;
$color-contrast-second: #b56455;
$color-button: #94ae96;
$color-button-dark: #46584e;
$color-contrast-dark: #885450;

body {
  font-family: "JetBrains Mono";
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    display: initial;
  }
}
