.header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  background-attachment: fixed;
  background-size: contain;
  z-index: 100;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header-name {
    margin: 0 20px;
    color: $color-contrast-main;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.3em;
  }

  .mobile {
    display: none;
  }
  .link-container {
    width: 100%;
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-content: end;
    align-items: center;
    gap: 60px;
    .navbar {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      gap: 30px;

      h2 {
        margin: auto;
        padding: 4px 0;
        width: 200px;
        background-color: $color-contrast-main;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        font-size: 14px;
        letter-spacing: 2px;
        color: $color-text;
        border-radius: 10px;
        border: 4px solid $color-contrast-main;
        -webkit-box-shadow: inset 3px 3px 5px 4px #b68002;
        box-shadow: inset 3px 3px 5px 4px #b68002;
      }

      h2:hover {
        background-color: $color-button;
        border: 4px solid $color-button;
        -webkit-box-shadow: inset 3px 3px 5px 4px #94ae97;
        box-shadow: inset 3px 3px 5px 4px #628565;
      }
    }
    .social {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 10px;

      .social-item {
        height: 100%;

        .fa-brands {
          font-size: 24px;
          color: $color-contrast-dark;
        }
        .fa-brands:hover {
          color: $color-button;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      gap: 30px;
      .navbar {
        display: flex;
        justify-content: flex-end;
        gap: 6%;

        h2 {
          width: 100%;
          padding: 6px 10px;
          font-weight: 600;
          font-size: 12px;
        }
      }
      .social {
        flex-direction: row;
        gap: 20px;
      }
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  @media screen and (max-width: 1025px) {
    height: 60px;
  }
  @media screen and (max-width: 768px) {
    // .header-name {
    //   display: none;
    // }
    .header-name {
      font-size: 20px;
      letter-spacing: 0.1em;
    }
    .mobile {
      position: relative;
      display: flex;
    }
  }
}
