.contact-wrapper {
  max-height: 75svh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .contact-container {
    // max-width: 90%;
    z-index: 10;
    grid-area: 1 / 2 / 6 / 6;
    background-color: $color-button-dark;
    border-radius: 30px;
    padding: 30px;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      label {
        color: $color-text;
        font-weight: 200;
        font-size: 12px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        gap: 6px;

        input {
          color: $color-button-dark;
          padding-left: 5px;
          width: 50%;
          height: 30px;
          font-size: 14px;
          border: solid 2px;
          border-color: $color-button;
          border-radius: 6px;
        }
        textarea {
          padding: 5px;
          color: $color-button-dark;
          width: 100%;
          font-size: 16px;
          border: solid 2px;
          border-color: $color-button;
          border-radius: 6px;
        }
      }
      .contact-button {
        width: 200px;
        height: 40px;
        margin: auto;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        background-color: $color-button;
        color: #fff;
        font-size: 20px;
      }
    }
  }
  .contact-picture {
    z-index: 1;
    grid-area: 2 / 6 / 7 / 8;
    max-width: 400px;
    margin: auto;
    margin-left: -50px;
    border-radius: 30px;
    box-shadow: 3px -2px #94ae96;
    img {
      width: 100%;
      border-radius: 30px;

      object-fit: contain;
      overflow: hidden;
    }
  }
}
