.page-content {
  width: 100%;
  height: 100%;
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: start;
  background-attachment: fixed;
  section.part {
    height: 100%;
    min-height: 80svh;
    width: 90vw;
    padding: 90px 20px 50px 20px;
    margin: auto;
    scroll-snap-align: start;
  }
  section h2 {
    // margin: auto;
    padding: 20px;
    color: $color-button;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4em;
  }

  .presentation {
    .presentation-container {
      height: 100%;
      max-height: 80svh;
      min-height: 70svh;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;

      .left-part {
        z-index: 2;
        grid-area: 2 / 1 / 5 / 6;
        background-color: $color-button-dark;
        border-radius: 30px;
        max-width: 60%;
        padding: 50px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
        h3 {
          margin: 0;
          color: #fff;
          text-align: right;
          font-family: "JetBrains Mono", sans-serif;
          font-weight: 300;
          font-size: 26px;
          text-transform: uppercase;
        }

        .texte {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          p {
            color: #fff;
            font-family: "JetBrains Mono";
            font-size: 16px;
            font-weight: 200;
            text-align: right;
            line-height: 1.8rem;
          }
          strong {
            opacity: 80%;
            opacity: 70%;
            font-weight: 800;
            font-size: 20px;
          }
        }
      }

      .right-part {
        z-index: 0;
        grid-area: 3 /4 / 6 /9;
        max-width: 40%;
        margin: auto;
        img {
          width: 100%;
          object-fit: contain;
          overflow: hidden;
        }
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        min-height: 100%;
        height: auto;
        margin: none;
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;

        .left-part {
          margin-top: -40px;
          margin-right: 20px;
          padding: 20px;
          width: 100%;
          border-radius: 8px;
          gap: 15px;
          h3 {
            font-size: 14px;
            text-transform: uppercase;
          }

          .texte {
            p {
              font-size: 12px;
              text-align: justify;
              line-height: 1rem;
            }
            strong {
              opacity: 100%;
              font-weight: 800;
              font-size: 12px;
            }
          }
        }
        .right-part {
          z-index: 10;
          margin-left: 10px;
        }
      }
    }
  }

  .realisation {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 100%;
  }
  .contact {
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    background-image: url("/bg-mobile.png");
    section.part {
      min-height: auto;
      margin: 0px;
      padding: 10px;
      scroll-snap-align: none;
    }
    section h2 {
      // margin: auto;
      padding: 20px 10px;
      color: $color-button;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.4em;
    }
  }
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  background-color: #ffffff70;
  text-align: center;
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .first-view {
    min-height: 0;
    display: block;
    width: 100%;
    margin: auto;

    .left-part {
      display: block;
      width: 100%;
      min-height: 0;
      margin: auto;
      .text {
        width: 100%;
        margin: auto;
        padding: 10px;
        h1 {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
      }
      img {
        width: 100%;
        margin: auto;
      }
    }
    .right-part {
      background-color: #1d1d1d;
      width: 100%;
      min-height: 0;
      padding: 0;

      .nav-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .nav-item {
          width: 180px;
          height: 60px;
          margin: 0 10px;

          h2 {
            padding: 0;
            font-size: 20px;
            font-weight: 200;
          }
        }
      }
      .link-github,
      .link-linkedin {
        gap: 30px;
        img {
          width: 60%;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
}
