.home {
  width: 100%;
  background-image: url("/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  .first-view {
    overflow: hidden;
    height: 100vh;
    display: flex;

    .left-part {
      background-color: $color-contrast-dark;
      border-radius: 30px;
      box-shadow: -2px 2px $color-contrast-second;
      max-width: 30vw;
      padding: 50px;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 3rem;
      h2 {
        margin: 0;
        color: #fff;
        text-align: right;
        font-family: "JetBrains Mono", sans-serif;
        font-weight: 300;
        font-size: 26px;
        text-transform: uppercase;
      }

      .texte {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        p {
          color: #fff;
          font-family: "JetBrains Mono";
          font-size: 18px;
          font-weight: 200;
          text-align: right;
          line-height: 1.8rem;
        }
        strong {
          opacity: 80%;
          opacity: 70%;
          font-weight: 800;
          font-size: 20px;
        }
      }
    }

    .right-part {
      overflow: hidden;
      margin-top: 40vh;
      img {
        margin-right: 20vh;
        object-fit: contain;
        max-width: 60vh;
      }
    }
  }
  section.part {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
  }
  footer {
    height: 30px;
    background-color: #fff;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .first-view {
      min-height: 0;
      display: block;
      width: 100%;
      margin: auto;

      .left-part {
        display: block;
        width: 100%;
        min-height: 0;
        margin: auto;
        .text {
          width: 100%;
          margin: auto;
          padding: 10px;
          h1 {
            font-size: 16px;
          }
          p {
            font-size: 16px;
          }
        }
        img {
          width: 100%;
          margin: auto;
        }
      }
      .right-part {
        background-color: #1d1d1d;
        width: 100%;
        min-height: 0;
        padding: 0;

        .nav-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          .nav-item {
            width: 180px;
            height: 60px;
            margin: 0 10px;

            h2 {
              padding: 0;
              font-size: 20px;
              font-weight: 200;
            }
          }
        }
        .link-github,
        .link-linkedin {
          gap: 30px;
          img {
            width: 60%;
          }
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
