.presta {
  // width: 100%;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;

  .service-card-wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 50px;

    .service-card {
      padding-top: 20px;
      padding-bottom: 20px;
      width: 25%;
      border-radius: 15px;
      background-color: $color-button-dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .service-card-title {
        width: 80%;
        background-color: $color-text;
        border-radius: 12px;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;

        i {
          display: none;
        }
      }
      .service-card-content {
        width: 80%;
        height: 100%;
        background-color: $color-text;
        border-radius: 10px;
        padding: 10px 20px;
        text-align: right;
        hr {
          width: 20px;
          margin: auto;
        }
        p {
          margin: 15px;
          font-size: 16px;
          font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
          // letter-spacing: 0.2px;
          text-align: center;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .service-card-wrapper {
      width: auto;
      min-width: 80vw;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: 10px;

      .service-card {
        padding: 10px;
        width: 100%;
        border-radius: 12px;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;

        .service-card-title {
          width: 100%;
          border-radius: 10px;
          font-size: 14px;
          text-align: left;
          text-transform: uppercase;
          box-sizing: border-box;
          i {
            display: inline;
            color: $color-button-dark;
            font-size: 18px;
          }
        }

        .service-card-content {
          display: none;
        }
      }
    }
  }
}
