.realisation {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    h2 {
        color: #fff;
        text-align: center;
        font-size: 40px;
        margin: 50px;
    }

    .list-project {
        display: grid;
        justify-content: center;
    }

    .gallery-project {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .card-project {
            position: relative;
            width: 500px;
            height: auto;
            background-image: url("/Modal.png");
            background-repeat: no-repeat; 
            background-size: 100%;
            padding: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: #fff;
            }
            .preview{
                margin-top: 25px;
            }
            .actions-modal{
                position: absolute;
                top: 10px;
                right: 15px;

                img {
                    width: 20px;
                    margin: 4px;
                }
            }
            .tag-category {
                position: relative;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    box-sizing: content-box;
                    margin-top: 20px;
                }
                h5 {
                    position: absolute;
                    font-size: 10px;
                    font-weight: 200;
                    color: #fff;
                }
            }

            .project-content {
                margin-top: 30px;
                display: flex;
                justify-content: space-around;

                .text-container {
                    width: 40%;
                    h4 {
                        margin-bottom: 10px;
                    }
                }
                .visual-container {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }
        }
    }

}

.modal-container{
    position: relative;
    width: 800px;
    height: auto;
    background-image: url("/Modal.png");
    background-repeat: no-repeat; 
    background-size: 100%;
    display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 800px;
	background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width:768px){
    
    .realisation{

        margin-top: 40px;
        border-top : solid #fff;
        h2 {
            font-size: 24px;
            margin: 0;
        }

        .gallery {
            display: block;

            .gallery-project {
                margin: auto;
                width: 80%;
                height: 100%;

                h3 {
                    font-size: 16px;
                }
                h4, p {
                    font-size: 14px;
                }
                .visual-container{
                    gap: 5px;
                }
                .project-content{
                    margin-top: 15px;
                }
            }
        }
    }
}