.realisation {

    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        color: #fff;
        text-align: center;
        font-size: 40px;
        margin: 50px;
    }

    .list-project {
        max-width: 1024px;
        display: grid;
        justify-content: center;
    }

    .gallery {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .gallery-project {
            width: 500px;
            height: 500px;
            background-image: url("/public/Modal.png");
            background-repeat: no-repeat; 
            background-size: 100%;
            padding: 15px;

            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: #fff;
            }
            h4 {
                margin: 20px;
            }
            .tag-category {
                position: relative;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    box-sizing: content-box;
                }
                h5 {
                    position: absolute;
                    font-size: 10px;
                    font-weight: 200;
                    color: #fff;
                }
            }
        }
    }

}