.projects-accordion {
  margin: auto;
  width: 80%;
  max-width: 90vw;
  display: flex;
  gap: 20px;
  cursor: pointer;

  :is(h3, p) {
    margin: 0;
  }

  .projects-accordion-item {
    box-shadow: 2px -2px #94ae96;
    background-color: $color-button-dark;
    position: relative;
    overflow: hidden;
    width: 100px;
    max-height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0.8;
    transition: 0.5s;

    img {
      height: 100%;
      object-fit: cover;
      opacity: 0.6;
    }

    .legend {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #46584ee8;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      transition: 0.25s;
    }

    .infos {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }

    h3 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }
    p {
      color: #fff;
      font-size: 12px;
      font-weight: 100;
    }

    .links {
      margin-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      i {
        color: #fff;
        font-size: 22px;
      }
    }

    &.active {
      width: 100%;
      opacity: 1;

      img {
        opacity: 1;
        position: absolute;
        z-index: 0;
        object-fit: contain;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
      }
      .category {
        position: absolute;
        top: 12px;
        left: -15px;
        width: fit-content;
        padding: 10px 20px 10px 30px;
        background-color: $color-contrast-main;
        color: $color-text;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        border-radius: 20px;
      }
      .legend {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 768px) {
  }
}
