@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  margin: 0;
}

h1, h2, h3, h4 {
  text-decoration: none;
}

img {
  overflow-clip-margin: unset;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #1D1D1D;
  font-family: "JetBrains Mono";
  max-width: 1960px;
  height: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  body {
    max-width: 100%;
    display: initial;
  }
}

.first-view {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-part {
  min-height: 100vh;
  width: 60%;
  background-color: #1D1D1D;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.left-part .text {
  margin: 0 50px;
}
.left-part .text h1 {
  color: #fff;
  font-family: "JetBrains Mono", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 40px auto;
}
.left-part .text p {
  color: #fff;
  font-family: "JetBrains Mono";
  font-size: 24px;
  font-weight: 100;
  margin: auto;
}
.left-part img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 0px;
  max-width: 100%;
}

.right-part {
  min-height: 100vh;
  width: 40%;
  padding: 20px 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-part .nav-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.right-part .nav-item {
  margin-bottom: 50px;
  position: relative;
  display: flex;
  align-items: center;
}
.right-part .nav-item h2 {
  font-size: 30px;
  color: #fff;
  position: absolute;
  left: 20px;
}
.right-part .social-media {
  display: flex;
  gap: 50px;
  color: #fff;
}
.right-part .social-media .link-github, .right-part .social-media .link-linkedin {
  width: 87px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.right-part .social-media .link-github a, .right-part .social-media .link-linkedin a {
  text-decoration: none;
  color: #fff;
}
.right-part .social-media .link-github img, .right-part .social-media .link-linkedin img {
  position: absolute;
}
.right-part .social-media .link-github i, .right-part .social-media .link-linkedin i {
  color: #fff;
  position: absolute;
  font-size: 50px;
}

.skills-home {
  z-index: 1;
  background-color: #fff;
  margin: auto;
}

.about {
  background-color: #1D1D1D;
  margin-bottom: 40px;
}
.about h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
}

.contact-bottom h2 {
  color: #fff;
}

footer {
  height: 30px;
  background-color: #fff;
  text-align: center;
}

.background {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  .first-view {
    min-height: 0;
    display: block;
    width: 100%;
    margin: auto;
  }
  .first-view .left-part {
    display: block;
    width: 100%;
    min-height: 0;
    margin: auto;
  }
  .first-view .left-part .text {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  .first-view .left-part .text h1 {
    font-size: 16px;
  }
  .first-view .left-part .text p {
    font-size: 16px;
  }
  .first-view .left-part img {
    width: 100%;
    margin: auto;
  }
  .first-view .right-part {
    background-color: #1D1D1D;
    width: 100%;
    min-height: 0;
    padding: 0;
  }
  .first-view .right-part .nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .first-view .right-part .nav-container .nav-item {
    width: 180px;
    height: 60px;
    margin: 0 10px;
  }
  .first-view .right-part .nav-container .nav-item h2 {
    padding: 0;
    font-size: 20px;
    font-weight: 200;
  }
  .first-view .right-part .link-github, .first-view .right-part .link-linkedin {
    gap: 30px;
  }
  .first-view .right-part .link-github img, .first-view .right-part .link-linkedin img {
    width: 60%;
  }
  .first-view .right-part .link-github i, .first-view .right-part .link-linkedin i {
    font-size: 20px;
  }
  .skills-home {
    background-color: #1D1D1D;
    border-top: solid #fff;
    margin: 30px 0;
  }
  .about {
    border-top: solid #fff;
    background-color: #1D1D1D;
  }
  .about h2 {
    font-size: 24px;
  }
  .about p {
    width: 80%;
  }
}
.realisation .gallery-project {
  max-width: 1200px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
}
.realisation .gallery-project .slider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.realisation .gallery-project .card {
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}
.realisation .gallery-project .card .content {
  position: relative;
  width: 80px;
  border-radius: 10px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 6px -3px rgb(204, 202, 202);
}
.realisation .gallery-project .card .content img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.realisation .gallery-project .card .content .description {
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  height: 80px;
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}
.realisation .gallery-project .card .content .description p {
  font-size: 12px;
  font-weight: 300;
}
.realisation .gallery-project .card input:checked + label {
  width: 600px;
}
.realisation .gallery-project .card input {
  display: none;
}
.realisation .gallery-project .card input:checked + label .description {
  opacity: 1;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.realisation .gallery-project .card-project {
  cursor: pointer;
  position: relative;
  width: 500px;
  height: auto;
  background-image: url("/Modal.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.realisation .gallery-project .card-project h3 {
  color: #fff;
}
.realisation .gallery-project .card-project .preview {
  margin-top: 25px;
}
.realisation .gallery-project .card-project .actions-modal {
  position: absolute;
  top: 10px;
  right: 15px;
}
.realisation .gallery-project .card-project .actions-modal img {
  width: 20px;
  margin: 4px;
}
.realisation .gallery-project .card-project .tag-category {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.realisation .gallery-project .card-project .tag-category img {
  box-sizing: content-box;
  margin-top: 20px;
}
.realisation .gallery-project .card-project .tag-category h5 {
  position: absolute;
  font-size: 10px;
  font-weight: 200;
  color: #fff;
}
.realisation .gallery-project .card-project .project-content {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.realisation .gallery-project .card-project .project-content .text-container {
  width: 40%;
}
.realisation .gallery-project .card-project .project-content .text-container h4 {
  margin-bottom: 10px;
}
.realisation .gallery-project .card-project .project-content .visual-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  position: fixed;
  z-index: 100;
  margin: auto;
  width: 800px;
  height: 670px;
  background-image: url("/Modal.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.modal-container .modal-header h3 {
  position: absolute;
  color: #fff;
  left: 45%;
  top: 25px;
}
.modal-container .modal-header .actions-modal {
  position: absolute;
  top: 20px;
  right: 30px;
}
.modal-container .modal-header .actions-modal img {
  cursor: pointer;
  width: 30px;
  margin: 5px;
}
.modal-container .modal-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  gap: 20px;
}
.modal-container .modal-content .left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.modal-container .modal-content .left .modal-image {
  width: 80%;
  border: solid #ccc;
  box-shadow: 2px -2px 2px 2px rgba(149, 149, 149, 0.4);
}
.modal-container .modal-content .left p {
  font-size: 14px;
  text-align: justify;
  width: 80%;
}
.modal-container .modal-content .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.modal-container .modal-content .right .modal-category {
  position: relative;
}
.modal-container .modal-content .right .modal-category img {
  width: 100px;
}
.modal-container .modal-content .right .modal-category h4 {
  position: absolute;
  left: 0;
  color: #fff;
  top: 5px;
  left: 5px;
  padding: 5px;
  font-size: 12px;
}
.modal-container .modal-content .right h5 {
  font-size: 18px;
  font-weight: 800;
}
.modal-container .modal-content .right .project-link {
  position: relative;
  cursor: pointer;
}
.modal-container .modal-content .right .project-link img {
  width: 50px;
}
.modal-container .modal-content .right .project-link .fa-link {
  color: #fff;
  position: absolute;
  font-size: 24px;
  top: 10px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .realisation {
    margin-top: 80px;
    border-top: solid #fff;
  }
  .realisation h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  .realisation .gallery-project {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .realisation .gallery-project .card-project {
    margin: auto;
    width: 80%;
  }
  .realisation .gallery-project .card-project h3 {
    position: absolute;
    top: 5px;
  }
  .realisation .gallery-project .card-project .preview {
    margin-top: 20px;
    width: 80%;
  }
  .realisation .gallery-project .card-project .actions-modal {
    position: absolute;
    top: 5px;
    right: 15px;
  }
  .realisation .gallery-project .card-project .actions-modal img {
    width: 20px;
    margin: 2px;
  }
}
h2 {
  color: #1D1D1D;
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
}

.skills-container {
  z-index: 1;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.skills-container .bloc {
  display: flex;
  justify-content: space-evenly;
}
.skills-container .bloc ul {
  margin-block-start: 0;
}
.skills-container .name {
  position: relative;
}
.skills-container .name h3 {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 20px;
}
.skills-container .tag {
  position: relative;
}
.skills-container .tag h4 {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 20px;
}
.skills-container .bloc-services {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-container .bloc-services .name-service {
  position: relative;
}
.skills-container .bloc-services .name-service img {
  width: 200px;
}
.skills-container .bloc-services .name-service h3 {
  position: absolute;
  left: 0;
  color: #fff;
  top: 5px;
  left: 5px;
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  h2 {
    color: #fff;
    font-size: 24px;
  }
  .skills-container {
    width: 100%;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  .skills-container .skills {
    width: 100%;
  }
  .skills-container .skills .tag-name img {
    max-width: 75%;
  }
  .skills-container .skills .tag-name h3 {
    font-size: 12px;
  }
  .skills-container .skills .tag-skill {
    position: relative;
  }
  .skills-container .skills .tag-skill img {
    max-width: 75%;
  }
  .skills-container .skills .tag-skill h4 {
    font-size: 12px;
    font-weight: 100;
    color: #fff;
    position: absolute;
    top: 15px;
    left: 20px;
  }
  .skills-container .services {
    width: 40%;
  }
  .skills-container .list-services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 20px;
  }
}
.about-container .photo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.about-container p {
  margin: auto;
  font-weight: 100;
  color: #fff;
  text-align: justify;
  max-width: 600px;
}/*# sourceMappingURL=main.css.map */